
*{
     box-sizing: border-box;
}

body{
    margin: 0%;
    border:0%;

}

/*------------------------------------------------------- NAVIGATION BAR SECTION---------------------------------------*/
.navigation{
    background-color:#002e4d;
    opacity: 0.5;
    position:relative;
    text-align: center;
}

.logo, .menu{
    display: inline-block;
}
.logo{

    margin: 20px;
    color:whitesmoke;
    font-size: 20px;
    float: left;


}
/*.proj {
    position: relative;
    display:block;
    padding-top: 20px;*/
}

.menu{
    padding-top:5px;
    margin:20px;
}

.menu ul {
    list-style: none;
    margin:20px;
}
.menu ul li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
}
.menu ul li a{
    text-decoration: none;
    padding: 20px 10px 20px 10px;
    color:#ffffff;
    font-weight: bold;
}

.menu ul li a:hover{
    background-color:#002e4d;
    color: #0080ff;
    transition: all 0.5s ease;
}


/*---------------------------------------------------HEADER SECTION-------------------------------------------------------*/

 header{
     background-image: url("file:///home/wiseman7/Desktop/Judith_portfolio/WWW/img/desktop-1.png");
     height:1000px;
     background-size: cover;
     background-repeat: no-repeat;
     background-attachment: fixed;

 }


    header p {
        margin: 0;
        color:brown;
        font-size: 27px;
        font-weight: bold;
        padding-bottom: 2px;
        padding-top: 2px;
    }
    .hero-container{
        text-align: center;
        padding-top:250px;
        color:peru;
        font-size: 25px;
        margin: auto;
        position: relative;
        font-family: Arial, Helvetica, sans-serif;

    }
    .btn-work{
        background-color:brown;
        display: inline-block;
        padding: 10px 25px;
        color: whitesmoke;
        border-radius: 20px;
        font-weight: bold;
        text-decoration: none;
        opacity: 1.10;
    }

     .btn-work:hover{
        background-color:whitesmoke;
        color:brown;
        transition: all 0.5s ease;

    }

/*---------------------------------------------------ABOUT ME SECTION----------------------------------------------------------*/

.ABOUTME{
    width: 100%;
    background-color:lightgray;
    padding-bottom: 70px;
    padding-top: 70px;
    position: relative;
    background-attachment: fixed;
}
.ABOUTME:after{
    content: '';
    display: block;
    clear: both;
}
.ABOUTME .col-right{
    position: absolute;
    right:50px;
    bottom: 155px;


}

.ABOUTME h2{
    color:#aa4123;
    text-align: center;
    text-decoration: underline;
    font-size: 30px;
    padding-bottom:1%;
    margin-top:3px;

}

.ABOUTME .col-left, .ABOUTME .col-right{
    width: 50%;
    float: left;
}

.ABOUTME .col-left{
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1%;

}

.ABOUTME a{
    background-color:maroon;
    display: inline-block;
    padding: 10px 25px;
    color:whitesmoke;
    border-radius: 20px;
    font-weight: bold;
    text-decoration: none;
    font-size: 17px;

}
.ABOUTME a:hover{
    background-color:lightgray;
    color:maroon;
    border: 1px solid maroon;
}

.ABOUTME .col-left img{
    max-width: 90%;
    margin: 0 auto;
    display: block;
    margin-top: 5px;
    border-radius: 2px;
    padding-bottom: 5px;
}

 .col-right h4{
    color: maroon;
    font-family: sans-serif;
    font-size: 20px;
}
.col-right p{
    font-size: 23px;
    color:#383733;
}

/*---------------------------------------------------------MY SKILLS SECTION-----------------------------------------------*/


.my-skills{

    background-color:#eff4fc;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
   }
.my-skills h2{
    text-transform: uppercase;
    text-decoration: underline;

}
.my-skills:after{
    content:"";
    display: block;
    clear: both;

}
.my-skills .skills-left, .skills-center, .skills-right{
    width: 33.3333%;
    display: inline-block;
    padding-left: 2%;
    padding-right: 2%;
}
.my-skills i{
    color:maroon;
    font-size: 63px;
}
.my-skills h2{
    font-size: 30px;
    padding-bottom: 35px;
    color: #aa4123;
}
.my-skills h4{
    color: #775601;
    font-size: 19px;
}
.my-skills p{
    color: #000000;
}

/*----------------------------------------------------MY CONTACTS SECTION------------------------------------------------------*/

.contact-section{

    text-align: center;
    background-color:#e3e9f2;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
}
.contact-section:after{
    content: "";
    display: block;
    clear: both;
}

.social-container{
    width: 80%;
    margin: 0 auto;
    text-align: left;
}
.social-container i{
    float: left;
    margin-top: 17px;
    margin-right: 10px;
    font-size: 35px;
    color:maroon;
}
.social-container i:hover{
    background-color:#e3e9f2;
    color: #37455b;
    transition: all 0.5s ease;
}
.contact-section h2{
    font-size: 30px;
    color: #aa4123;
    text-decoration: underline;
}
 nav{
    color:#3f3b11;
    font-size: 22px;
}
.col-1 p, .col-2 p{
    display: inline-block;
}
.col-1, .col-2{
    width: 33.3333333%;
    display: inline-block;
    float: left;
}
.text{
    font-weight: bold;
    color: #775601;
}
